numpy>=1.26.0,<2
pymongo>=4.13.2,<5
flask>=2.2.0,<3.1
streamlit>=1.47.1,<2
tensorflow>=2.20.0,<2.21
keras>=3.10.0,<4
spacy>=3.8.7,<4
pydantic>=2.11.7,<3
gunicorn>=23.0.0,<24
python-dotenv>=1.0.1,<2
joblib>=1.5.1,<2
nltk>=3.9.1,<4
